{
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off"
  }
}
